body {
  background-color: mediumaquamarine;
  color: black;
}
header {
  background-color: aqua;
  color: brown;
}
section {
  background-color: lightskyblue;
}
h2 {
  color: pink;
}
#about {
  background-color: blueviolet;
}
#boxmodel,
#units {
  background-color: antiquewhite;
}

#fonts {
  background-color: darkgoldenrod;
}
.codebox {
  background-color: green;
}
section.codebox {
  background-color: teal;
}
nav ul {
  list-style-type: none;
}
